  body{

    
  background: linear-gradient(270deg, #cecdd5, #7F77DD, #7a788a);
  background-size: 400% 400%;
  animation: shift 8s ease infinite;
  display: flex;
  flex-direction: column;
  gap: 2vh; } 

   @keyframes shift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

 nav ul{
     border: 2px solid black;
     border-radius: 2rem;
     background-color: white;
     background: linear-gradient(270deg, #26215C, #dddde1, #26215C);
     background-size: 400% 400%;
     animation: shift 8s ease infinite;
     color: white;
     padding: 10px;
     display: flex;
     justify-content: space-around;
     align-items: center;

 }  
 .navlink{
     text-decoration: none;
     color: white;
     font-size: 1.5rem;
     font-weight: bold;
 }
 
 .sec {
  width: 100%;
  display: flex;
}
 * ---------- Contact Section ---------- */


#sec4 {
    position: absolute;
    bottom: 20px;
   display: flex;
  right: 10px;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.contact,
.phone,
.email,
.telegram {
  border: 2px solid whitesmoke;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background: linear-gradient(to bottom, black, whitesmoke, black);
  width: fit-content;
}

.contact {
  background: linear-gradient(to bottom, black, gold, black);
  font-size: 1.5rem;
}

#phoneicon,
#emailicon,
#telegramicon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
